body{
	margin: 0;
	padding: 0;
}
textarea {
	width: 480px;
	height: 200px;
	display: block;
	font-size: 80px;
	margin: 0;
}
#board{
	background: url(../img/board.png) no-repeat;
	height: 419px;
	width: 480px;
	margin-top: 80px;
	display: block;
}
table{
	font-size: 28px;
	font-family: arial, sans-serif;
	line-height: 23px;
	width: 315px;
	margin: -16px 0 0 83px;
	table-layout: fixed;
}
table td {
	width: 8%;
	text-align: center;
}
aside{
	display: block;
	width: 50px;
}